@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap');
header {
    font-family: Open Sans;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #BFBFBF;

}

p, a, button {
    font-family: PT Sans;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
}

.sub {
    text-decoration: none;
}

p {
    font-size: 16px;
}

a {
    font-size: 16px;
    text-decoration: none;
}

button {
    font-size: 16px;
}

article {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.tit_esq {
    text-align: left;
}

.cont_p {
    text-align: left;
}

nav {
    background-color: #000000; 
    padding: 20px;
    margin: 10px 0px;
}


nav a {
    color: #FFFFFF;
}


article h3 {
    color: #95bbdf;
}

aside {
    float: right;
    width: 10%;
    margin: 5%;
}
